<h1><%= @artist["name"] %></h1>

<% images = @artist["images"] %>
<% if images and not images.empty?%>
  <% image = images.length > 1 ? images[1] : images[0] %>
  <img src="<%= image['url'] %>">
<% end %>

<h2> Top Tracks</h2>
<ul>
  <% @top_tracks["tracks"].each do |jam| %>
  <li><a href="<%=jam['preview_url']%>"><%= jam["name"] %></a></li>
  <% end %>
</ul>

<h2>Albums</h2>
<ul>
  <% @albums["items"].each do |album| %>
  <li><%= album["name"] %></li>
  <% end %>
</ul>
