<h1>Search</h1>

<%= form_tag nil, id: "search" do %>
  <%= text_field_tag :query, nil, :placeholder => "Search term" %>
  <br>
  <%= select_tag :type, options_for_select(["artist", "album", "track"]) %>
  <br>
  <%= submit_tag "Submit" %>
<% end %>

<script type="text/javascript">
  var access_token = "<%=@access_token%>"
</script>
