<% if @error %>
  <h1>Error logging in: <%= @error %></h1>
<% else %>
  <% if @user["display_name"] %>
  <h1>Logged in as <%=@user["display_name"]%></h1>
  <% else %>
  <h1>Logged in as <%=@user["email"]%></h1>
  <% end %>

  <p>access_token: <%= @access_token %></p>
  <p>refresh_token: <%= @refresh_token %></p>
<% end %>
